:root {
    --card-color: #fff7f0;
    --card-tag-color: #c5c5c5;
}

.card-container {
    margin: 10px 10px 10px 15px;
    background-color: var(--card-color);
    border-radius: 10px;
    box-shadow: 0 2px 20px rgba(0, 0, 0, 0.05);
    overflow: hidden;
    width: auto;
    max-width: 1200px;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
}

.card-container.mobile-version {
    flex-direction: column;
}

.card-image.mobile-version {
    width: 100%;
    min-height: 200px;
    max-height: 400px;
}

.card-image {
    width: 400px;
    height: 100%;
    object-fit: cover;
}

.card-body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    padding: 20px;
    min-height: 100px;
}

.tag-list {
    display: flex;
    flex-wrap: wrap;
}

.tag {
    position: relative;
    margin-right: 5px;
    background: var(--card-tag-color);
    border-radius: 50px;
    font-size: 0.75em;
    color: #fff;
    padding: 2px 10px;
    text-transform: uppercase;
    cursor: pointer;
}

.card-title {
    font-size: 1.5em;
}

.card-description {
    font-size: 1.25em;
}

.card-description.cut-text {
    display: -webkit-box;
    -webkit-line-clamp: 8;
    -webkit-box-orient: vertical;
    -moz-box-orient: vertical;

    overflow: hidden;
    text-overflow: ellipsis;
}

.author {
    display: flex;
    height: 80px;
    text-decoration: none;
    color: black;
}

.author-pfp {
    border-radius: 50%;
    width: auto;
    aspect-ratio: 1/1;
    height: 90%;
    margin: 0 10px 10px;
    cursor: pointer;
}

.card-author {
    width: 60%;
    font-size: 1.5em;
    align-self: center;
    margin: 0 10px 10px;

    cursor: pointer;
}

.card-date {
    width: 25%;
    font-size: 1em;
    align-self: center;
    text-align: end;
    padding: 10px 10px;
    margin-right: 10px;

    cursor: default;
}