:root {

    --navbar-height: 80px;
    --icon-size: 75px;
    --navbar-color: wheat;
    --logo-color: #ffc9d3;

}

.center {
    display: flex;
    position: relative;
    justify-content: space-around;
}

.navbar {
    /*background: linear-gradient(45deg, rgb(10, 10, 213) 0%, rgb(255, 23, 23) 100%);*/
    --navbar-height: 80px;
    --icon-size: 75px;

    background: var(--navbar-color);
    height: var(--navbar-height);
    position: fixed;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    top: 0;
    z-index: 999;
    max-width: 1500px;
    padding-bottom: 2px;
    padding-top: 2px;
    box-shadow: 0 0 5px 10px var(--navbar-color), 0 0 20px 20px #ffb5da;

    transition: all 0.4s ease-out;

}

.navbar.mobile-version {
    --navbar-height: 60px;
    --icon-size: 50px;
    font-size: 0.75rem;

    box-shadow: 0 0 5px 5px var(--navbar-color), 0 0 15px 15px #ffb5da;
}


.navbar-container {
    display: block;
    position: relative;
    justify-content: center;
    align-items: center;
    margin-left: 10px;
    font-size: 2.25em;

}


.navbar-logo {
    position: relative;
    justify-self: start;
    cursor: pointer;
    text-decoration: none;
    display: flex;
    align-items: center;
}

.logo-img {
    position: relative;
    height: var(--icon-size);
    border: 1px solid rgba(0, 0, 0, 0.85);
    border-radius: 25%;
    background-color: var(--logo-color);

    transition: all 0.2s ease-out;
}

.logo-img:hover {
    box-shadow: 1px 1px 5px 1px #a88460;
    transition: all 0.2s ease-out;
}

.logo-text {
    /*background-image: linear-gradient(45deg, rgb(10, 10, 213) 0%, rgb(255, 23, 23) 100%);*/
    color: black;
    text-shadow: 0 0 25px #ffa1b1, 0 0 10px #ffb5da;
}

.account-container {
    display: flex;
    margin-right: 5px;
    flex-direction: row;
    align-content: space-between;
    height: var(--navbar-height);
    max-width: Calc(var(--navbar-height) * 3);

    justify-content: center;
    align-items: center;


}

.account-container.log-in {
    flex-direction: column;
}

.user-pfp {
    position: relative;
    width: var(--icon-size);
    height: var(--icon-size);
    object-fit: cover;
    border-radius: 50%;
    align-self: center;
    box-shadow: 0 0 5px 1px #a88460;

    right: 5px;

    transition: all 0.3s ease-out;
    cursor: pointer;
}

.user-name {
    position: relative;
    cursor: pointer;
    text-decoration: none;
    color: #6e563d;
    font-size: 1.25em;
    display: flex;
    align-items: center;
    max-height: 2em;

    transition: all 0.3s ease-out;
}

.user-name:hover {
    text-shadow: 0 0 25px #ffc9d3, 0 0 10px #ffb5da;
    transition: all 0.3s ease-out;
}

.user-pfp:hover {
    box-shadow: 0 0 25px #ffc9d3, 0 0 10px #ffb5da;
    transition: all 0.3s ease-out;
}


button {
    font-size: 1.5em;
    width: 160px;
    margin: 4px;
    justify-content: center;
    background-color: var(--logo-color);
    text-decoration: none;
    color: black;
    border-radius: 16px;
    border: 1px solid #a88460;
    height: 45%;


    transition: all 0.4s ease-out;
}

.mobile-version button {
    width: 120px;
}

button:hover {
    background-color: #ffb5da;
    box-shadow: 0 0 25px #ffc9d3, 0 0 10px #ffb5da;
    transition: all 0.3s ease-out;
}
