.sidebar-holder {
    grid-column: 1;
    grid-row: 1 / -1;
    height: 200px;
    position: sticky;
    top: 100px;
    margin-left: 10px;
    display: flex;
    flex-direction: column;
}

.sidebar-holder-mobile {
    display: none;
}
.sidebar-holder ul {
    display: flex;
    flex-direction: column;

}

.sidebar-holder li,
.new-post-container li{
    position: relative;
    background: var(--card-tag-color);
    border-radius: 50px;
    font-size: 0.75em;
    color: #fff;
    padding: 2px 10px;
    text-transform: uppercase;
    cursor: pointer;
    list-style-type: disc;
    margin: 0.25rem 0.4rem;
    width: fit-content;
}

.multiSelectContainer li.option{
    display: inline-block;
    padding: 5px;
}

#multiselectContainerReact {
    width: 80%;
    margin: auto;
    max-width: 600px;
}

.new-post-container #multiselectContainerReact span{
    position: relative;
}

#multiselectContainerReact span{
    position: absolute;
    top: 30%
}

#multiselectContainerReact span img{
    filter: invert(100%);
}

#search_input{
    background-color: white;
}

input[type = button].add-post{
    width: 80%;
    align-self: center;
    justify-self: center;
}

textarea.description-input{
    height: 10rem;
    width: 100%;
    min-width: 100%;
    max-width: 100%;
    border-radius: 8px;
    padding: 0.5rem;
    font-size: 1rem;
}

.new-post-container{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.new-post-container *{
    width: 80%;
    max-width: 900px;
}

.new-post-container *{
    width: 80%;
    max-width: 900px;
}
.new-post-container #multiselectContainerReact span{
    display: inline-block;
    padding: 5px;
    width: fit-content;
}